---
import Layout from "../layouts/Layout.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<Layout title="Welcome to Astro.">
  <BaseLayout>
    <main class="space-y-6">
      <h1 class="text-white text-7xl">
        Welcome to <span class="text-blue-200">Astro</span><span
          class="bg-gradient-to-t from-jade-400 to-jade-600 p-2">Design</span
        >
      </h1>
      <div class="max-w-md text-white space-y-6 font-light">
        <p class="text-2xl text-white font-normal">
          Interior design for everyone made easy.
        </p>

        <p>
          Investing in a good interio design adds value in the long run. An
          interior designer is well aware of the types of fixtures, lightning
          drapes, paint, fornitura, and finishes that are used in a space.
        </p>
      </div>

      <a
        href="#"
        class="bg-jade-600 hover:bg-jade-800 rounded-lg px-12 py-4 ring-1 ring-slate-400/20 inline-block text-white text-xl font-medium shadow-lg"
      >
        Discover more ✨
      </a>
    </main>
  </BaseLayout>
</Layout>
